/* hero session */
.hero-session {
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.hero-session-content > h1 {
  color: #606060;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  margin-bottom: 10px;
}

.hero-session-content > p {
  color: #606060;
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}
/* location */
.location-search > p {
  font-size: 1.6rem;
  color: #404040;
  line-height: 2rem;
  font-weight: 600;
  margin: 70px 0 20px 0;
}

/* pick-interest */
.pick-interest-section {
  display: flex;
  justify-content: space-between;
}
.pick-interest-details > p {
  font-size: 1.6rem;
  color: #404040;
  line-height: 2rem;
  font-weight: 600;
  margin: 70px 0 20px 0;
}
.pick-interest-details {
  margin-bottom: 10rem;
}

/* how it works */

.how-we-work > p {
  margin-top: 5rem;
  color: #606060;
  text-align: center;
  font-weight: 600;
  font-size: 3rem;
  line-height: 4.5rem;
  margin-bottom: 10px;
}
.how-we-work-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.how-we-work-body > div {
  width: 30%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.how-we-work-body > div > h3 {
  margin-top: 7rem;
  font-size: 2.4rem;
  color: #606060;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: 30px;
}
.how-we-work-body > div > p {
  font-size: 2rem;
  color: #a5a5a5;
  line-height: 2.7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  text-align: center;
  margin-bottom: 10rem;
}

hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
