.hero-session {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-session-content > h1 {
  color: #606060;
  text-align: center;
  font-weight: 700;
  font-size: 3.5rem;
  line-height: 4.5rem;
  margin-bottom: 10px;
}

.hero-session-content > p {
  color: #606060;

  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
}
