.foodbag-navbar {
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}

.foodbag-nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  width: 100vw;
}

.foodbag-nav-item {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  color: #696969;
  padding: 5px 10px;
  margin-right: 2rem;
}

.signup-item {
  color: #ad4c4c;
  border: 2px solid #ad4c4c;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  padding: 5px 10px;
}

@media (max-width: 768px) {
  .foodbag-nav-menu {
  }
  .foodbag-nav-item {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.9rem;
    color: #696969;
    padding: 5px 10px;
    margin-right: 0.7rem;
  }
  .signup-item {
    color: #ad4c4c;
    border: 2px solid #ad4c4c;
    border-radius: 4px;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.9rem;
    padding: 5px 10px;
  }
}
