.foodbag-navbar {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
}

.foodbag-nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-gap: 20px;
  list-style: none;
  text-align: center;
  width: 100vw;
  justify-content: end;
  /* margin-right: 2rem; */
}

.foodbag-nav-item {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
  color: #696969;
  padding: 5px 10px;
}

.signup-item {
  color: #ad4c4c;
  border: 2px solid #ad4c4c;
  border-radius: 4px;
}
